{% extends "dziennik/base2.html" %}
{% block title %}Mój dziennik{% endblock %}
{% block content %}
<h1>Mój dziennik
</h1>

<h2>
{{klasa}}
</h2>
<p>

Średnia klasy = {{srednia_klasy}}</br>
    <a href="add_marks/">Dodaj ocenę</a>
</p>

<table class="table table-striped table-bordered">
    <tbody>
    <tr><th>Nr</th><th>Imię</th><th>Nazwisko</th><th>Oceny</th></tr>
{% for uczen, oo in all %}
    <tr><td>{{uczen.nr_dziennik}}.</td><td>{{uczen.imie}} </td><td>{{uczen.nazwisko}}</td>
        {% if oo|length > 0 %}
<td>{% for o in oo %}
   {{ o.stopien }}
{% endfor %}</td>
        {%else%} brak ocen
</tr>


{% endif %}
{% endfor %}
    </tbody>
</table>

{% endblock %}